@import "../node_modules/normalize.css/normalize";


// Test build
// ----------



body {
  background: cornflowerblue;
}
ul{
  margin: 0;
  padding: 0;
  display: flex;
}
li{
  list-style: none;
  margin-left: 10px;
  color: red;
}
